<h1>Our cheap recipes</h1>
<% @recipes.each do |f| %>
<% x = f.cost/f.output %>
<% if x <= 3 %>
<%= f.title %> (<%= f.genre %>) by chef: <%=(Chef.find_by(id: f.chef_id).name)%>
<br><br>
<ul><%= sanitize f.ingredients %></ul>

Directions: <%= f.directions %>
<br>
<%= f.output %>, ($<%=f.cost %>)
<br><br><br>
<% else %>
<% end %>
<% end %>