<h1>Chef <%= @chef.name %>'s recipes</h1>
<h1><% y= @chef.stars%> <%= "* "*y %></h1>
<% x=3 %>
<% @recipes.each do |f| %>
<% if x == f.chef_id %>
<%= f.title %> (<%= f.genre %>) by chef: <%=(Chef.find_by(id: f.chef_id).name)%>
<br><br>
<ul><%= sanitize f.ingredients %></ul>

Directions: <%= f.directions %>
<br>
<%= f.output %>, ($<%=f.cost %>)
<br><br><br>
<% else %>
<% end %>
<% end %>