<h1>Welcome to our recipe database</h1>
<% @recipes.each do |f| %>
<%= f.title %> (<%= f.genre %>) by chef: <%=(Chef.find_by(id: f.chef_id).name)%>
<br><br>
<ul><%= sanitize f.ingredients %></ul>

Directions: <%= f.directions %>
<br>
<%= f.output %>, ($<%=f.cost %>)
<br><br><br>
<% end %>