<h1>Listing recipes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Ingredients</th>
      <th>Directions</th>
      <th>Time</th>
      <th>Difficulty</th>
      <th>Output</th>
      <th>Genre</th>
      <th>Cost</th>
      <th>Chef</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.title %></td>
        <td><%= recipe.ingredients %></td>
        <td><%= recipe.directions %></td>
        <td><%= recipe.time %></td>
        <td><%= recipe.difficulty %></td>
        <td><%= recipe.output %></td>
        <td><%= recipe.genre %></td>
        <td><%= recipe.cost %></td>
        <td><%= recipe.chef_id %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
