@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar {
  background-color: pink;
  border: 2px solid black;
}

.feature {
  float: left;
  background-color: pink;
  border: 2px solid black;
  width: 15%

}
lh { 
      color: white;
      background-color: red;
      border-bottom: dashed 2px black;
}

.theyield {
  margin-left: 20%;
}