<!DOCTYPE html>
<html>
<head>
  <title>FinalMichaelSpier</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">YummyTummy</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
          <li><%= link_to "Home", :controller => "visitors", :action => "index" %></li>
          <li><%= link_to "Easy Recipes", :controller => "visitors", :action => "easy" %></li>
          <li><%= link_to "Challenging Recipes", :controller => "visitors", :action => "difficult" %></li>
          <li><%= link_to "Cheap Recipes", :controller => "visitors", :action => "cheap" %></li>
      </ul>
    </div>
  </div>
</nav>
  
<div>
<div class="feature">
  <ul>
    <lh>New Feature! You can now search by Chef!</lh>
    <br><br>
    <li><%= link_to "Chef Rachel's recipes", :controller => "visitors", :action => "chef1" %></li>
    <br>
    <li><%= link_to "Chef Sandra's recipes", :controller => "visitors", :action => "chef2" %></li>
    <br>
    <li><%= link_to "Chef Paula's recipes", :controller => "visitors", :action => "chef3" %></li>
  </ul>
</div>

<div class="theyield">
<%= yield %>
</div>
</div>
  
</body>
</html>
